<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Registrarse
      </div>
      <div class="card-body">
        <form (ngSubmit)='signUp()'>
          <div class="form-group">
            <label for="user">Cédula</label>
            <input type="text" [(ngModel)]="empleado.id"  name='user' class="form-control" placeholder="Nombre de Usuario" required autofocus>
          </div>
          <div class="form-group">
            <label for="firstName">Primer Nombre</label>
            <input type="text" name='firstName'[(ngModel)]="empleado.firstName" class="form-control" placeholder="Primer Nombre" required >
          </div>
          <div class="form-group">
            <label for="secondName">Segundo Nombre</label>
            <input type="text" name='secondName'[(ngModel)]="empleado.secondName" class="form-control" placeholder="Segundo Nombre">
          </div>
          <div class="form-group">
            <label for="lastnames">Primer Apellido</label>
            <input type="text" name='firstLastName' [(ngModel)]="empleado.firstlastName" class="form-control" placeholder="Primer Apellido" required >
          </div>
          <div class="form-group">
            <label for="secondLastName">Segundo Apellido</label>
            <input type="text" name='secondLastName' [(ngModel)]="empleado.secondlastName" class="form-control" placeholder="Segundo Apellido">
          </div>
          <div class="form-group">
            <label for="email">Correo</label>
            <input type="email" name='email' [(ngModel)]="empleado.email" class="form-control" placeholder="Correo" required >
          </div>
          <div class="form-group">
            <label for="birthday">Fecha de Nacimiento</label>
            <input type="date" name='secondLastName' [(ngModel)]="empleado.birthday" class="form-control" placeholder="Fecha de Nacimiento" required >
          </div>
          <div class="form-group">
            <label for="tel">Número de Teléfono</label>
            <input type="text" name='tel' [(ngModel)]="empleado.phoneNumber" class="form-control" placeholder="Número de Teléfono" required>
          </div>
          <div class="form-group">
            <label for="salary">Salario</label>
            <input type="number" name='salary' [(ngModel)]="empleado.salary" class="form-control" placeholder="Salario" required>
          </div>
          <div class="form-group">
            <label for="password">Role</label>
            <input type="text" name='password' [(ngModel)]="empleado.role" class="form-control" placeholder="Contraseña" required >
          </div>
          <div class="text-center">
            <input type="submit" value="Enviar" class="btn btn-primary btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
